@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*--------------------------------------------Heading*/



.heading {
    margin-left: 25px;
}


.home-photo {
    background: url("../images/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    min-height: 300px;
    
    
}

.about-photo {
    background: url("../images/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    min-height: 300px;  
}

.portfolio-photo {
    background: url("../images/portfolio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    min-height: 300px;  
}

.uneekibiza-photo {
    background: url("../images/uneekibiza.jpg");
    background-position: left;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: 500px;
      min-height: 300px;
      
}

.name {
    font-family: "open sans", sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin-top: 25px;
    color: #808080;
    text-align:center;
    width: 100%;
    
}

.title {
    font-family: "open sans", sans-serif;
font-size: 30px;
    margin-top: 5px;
    margin-bottom: 90px;
    color: #808080;
    width: 100%;
    text-align:center;
    
}

/*--------------------------------------------Menu*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

.menuitem span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #808080 ;
    min-height: 10px;}
    
    /* ----------------------------------------Central content */

    .container-fluid {font-family: "open sans", sans-serif;
    font-weight: 900;
    font-size: 15px;
    margin-top: 50px;
    margin-right:30px;
    color: #000000;
    text-align:left;
}


/* ----------------------------------------Footer */

footer {
    background-color: #808080;}

.social-links {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 110px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 10px 0;
    border-radius: 100%;
    font-size: 15px;
    line-height: 9px;
    text-align: center;
    color: #0000FF;
    background: #fafafa;
    }
